* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 700px;
  background-image: url(../image/PNG/Hero-Illustration.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.header .header-container {
  max-width: 100%;
  height: 100%;
  padding-top: 190px;
  padding-left: 60px;
}

.header .header-container .title {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 3px black;
}

.header .header-container .text {
  font-size: 30px;
  color: #01d9ff;
  padding-top: 8%;
  text-shadow: 0 0 3px #060606;
}

.header .image {
  width: 170px;
  height: 170px;
  background-image: url(../image/PNG/Hero-Logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -23%;
  right: -73%;
  z-index: 3;
}

.main {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0 10px;
}

.main .second-block {
  padding-bottom: 50px;
}

.main .second-block .first-article {
  line-height: 30px;
  letter-spacing: 1.5px;
  padding: 0 20px 20px 20px;
}

.main .second-block .first-article .first-article__title {
  font-weight: normal;
  padding-bottom: 30px;
}

.main .second-block .second-article {
  padding-bottom: 30px;
  line-height: 30px;
  letter-spacing: 1.5px;
}

.main .second-block .second-article .second-article__title {
  color: #07002a;
  background-color: #ecffff;
  padding: 20px;
  margin-bottom: 3px;
}

.main .second-block .second-article .second-article__title .another {
  background-color: #07002a;
  color: white;
  text-transform: uppercase;
  padding: 3px 10px;
}

.main .second-block .second-article .conteiner-text {
  padding: 20px 20px 30px 20px;
  background-color: #ecffff;
}

.main .second-block .second-article .conteiner-text .second-article__text {
  margin-bottom: 30px;
}

.main .second-block .second-article .conteiner-text .second-article__btn {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #39b6ff;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.main .second-block .second-article .conteiner-text .second-article__btn:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.main .second-block .second-article .conteiner-text .second-article__btn:active {
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

.main .second-block .three-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.main .second-block .three-article .img {
  width: 300px;
  height: 300px;
}

.main .second-block .three-article .container-contant {
  margin-top: 20px;
  margin-left: 20px;
  line-height: 30px;
  letter-spacing: 1.5px;
}

.main .second-block .three-article .container-contant .three-article__title {
  margin-bottom: 20px;
}

.main .second-block .three-article .container-contant .three-article__text {
  margin-bottom: 20px;
}

.main .second-block .three-article .container-contant .three-article__btn {
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: #ffcc00;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.main .second-block .three-article .container-contant .three-article__btn:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.main .second-block .three-article .container-contant .three-article__btn:active {
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

.main .three-block {
  width: 100%;
  height: 100%;
  padding: 20px 20px 30px 20px;
  background-color: #f6fefe;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.main .three-block .three-block__title {
  color: #07002a;
  padding: 20px;
  margin-bottom: 3px;
}

.main .three-block .three-block__title .another {
  background-color: #07002a;
  color: white;
  text-transform: uppercase;
  padding: 3px 10px;
}

.main .three-block .three-block__text {
  padding: 20px;
  color: #07002a;
  font-weight: 500;
}

.main .three-block .video {
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.main .three-block .video .video__video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: none;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.main .three-block .video .video__img {
  cursor: pointer;
  position: absolute;
  top: 42%;
  left: 45.5%;
}

.main .three-block .video .video__img .video__image {
  width: 80px;
  height: 80px;
  background-image: url(../image/PNG/VideoIcon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 15px;
}

.main .three-block .video .video__img .video__text {
  color: #fff;
  background-color: #fea826;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: -30%;
}

.footer {
  padding: 20px 50px;
}

.footer .footer__title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

.footer .footer__text {
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

.footer .footer__twitter-link {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00d0ff;
  font-weight: 600;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: all ease-in-out .8s;
  transition: all ease-in-out .8s;
}

.footer .footer__twitter-link:hover {
  background-color: white;
  color: #00d0ff;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.footer .footer__img {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

@media screen and (max-width: 920px) {
  .header {
    background-image: url(../image/PNG/Hero-Illustration.png);
    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .image {
    width: 30px;
    height: 30px;
    background-image: url(../image/PNG/Hero-Logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    z-index: 3;
  }
}

@media screen and (max-width: 750px) {
  .three-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .three-article .img {
    width: 250px;
    height: 100%;
  }
  .three-article .container-contant {
    margin-top: 30px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 665px) {
  .image {
    left: 40%;
  }
}

@media screen and (max-width: 460px) {
  .header .header-container {
    padding-top: 130px;
    padding-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */