* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

body {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.header { 
  width: 100%;
  height: 700px;
  background-image: url(../image/PNG/Hero-Illustration.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  .header-container { 
    max-width: 100%;
    height: 100%;
    padding-top: 190px;
    padding-left: 60px;

    .title { 
      font-size: 60px;
      color: white;
      text-transform: uppercase;
      text-shadow: 0 0 3px black;
    }

    .text {
      font-size: 30px;
      color: rgb(1, 217, 255);
      padding-top: 8%;
      text-shadow: 0 0 3px rgb(6, 6, 6);
    }
  }

  .image { 
    width: 170px;
    height: 170px;
    background-image: url(../image/PNG/Hero-Logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -23%;
    right: -73%;
    z-index: 3;
  }
}

// main
.main {
  width: 100%;
  height: 100%;
  padding: 10px 10px 0 10px;

  .second-block {
    padding-bottom: 50px;

    .first-article {
      line-height: 30px;
      letter-spacing: 1.5px;
      padding: 0 20px 20px 20px;

      .first-article__title { 
        font-weight: normal;
        padding-bottom: 30px;
      }
  
      // .first-article__text {}
    }
  
    .second-article { 
      padding-bottom: 30px;
      line-height: 30px;
      letter-spacing: 1.5px;

      .second-article__title { 
        color: rgb(7, 0, 42);
        background-color: rgb(236, 255, 255);
        padding: 20px;
        margin-bottom: 3px;

        .another { 
          background-color: rgb(7, 0, 42);
          color: white;
          text-transform: uppercase;
          padding: 3px 10px;
        }
      }
  
      .conteiner-text {
        padding: 20px 20px 30px 20px;
        background-color: rgb(236, 255, 255);

        .second-article__text { 
          margin-bottom: 30px;
        }
    
        .second-article__btn {
          width: 90px;
          height: 40px;
          border: none;
          border-radius: 5px;
          background-color: rgb(57, 182, 255);
  
          color: white;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;
          transition: all ease-in-out 0.5s;

          &:hover {
            box-shadow: 0 0 5px rgb(0, 0, 0);
          }

          &:active {
            box-shadow: 0 0 1px rgb(0, 0, 0);
          }
        }
      }
    }
  
    .three-article {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;

      .img {
        width: 300px;
        height: 300px;
      }
  
      .container-contant {
        margin-top: 20px;
        margin-left: 20px;
        line-height: 30px;
        letter-spacing: 1.5px;

        .three-article__title { 
          margin-bottom: 20px;
        }
  
        .three-article__text { 
          margin-bottom: 20px;
        }
    
        .three-article__btn { 
          width: 180px;
          height: 40px;
          border: none;
          border-radius: 5px;
  
          font-weight: 600;
          background-color: rgb(255, 204, 0);
          color: white;
          text-transform: uppercase;
          cursor: pointer;
          transition: all ease-in-out 0.5s;

          &:hover {
            box-shadow: 0 0 5px rgb(0, 0, 0);
          }

          &:active {
            box-shadow: 0 0 1px rgb(0, 0, 0);
          }
        }
      }
    }
  }

  // three-block

  .three-block { 
    width: 100%;
    height: 100%;
    padding: 20px 20px 30px 20px;
    background-color: rgb(246, 254, 254);
    line-height: 30px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;

    .three-block__title { 
      color: rgb(7, 0, 42);
      padding: 20px;
      margin-bottom: 3px;

      .another { 
        background-color: rgb(7, 0, 42);
        color: white;
        text-transform: uppercase;
        padding: 3px 10px;
      }
    }

    .three-block__text { 
      padding: 20px;
      color: rgb(7, 0, 42);
      font-weight: 500;
    }

    .video { 
      max-width: 900px;
      height: 500px;
      margin: 0 auto;
      position: relative;

      .video__video { 
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border: none;
        box-shadow: 0 0 10px black;
      }

      .video__img { 

        cursor: pointer;
        position: absolute;
        top: 42%;
        left: 45.5%;

        .video__image { 
          width: 80px;
          height: 80px;
          background-image: url(../image/PNG/VideoIcon.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          margin-bottom: 15px;
        }

        .video__text { 
          color: #fff;
          background-color: rgb(254, 168, 38);
          padding: 10px 15px;
          font-weight: 600;
          border-radius: 5px;
          text-transform: uppercase;
          position: relative;
          top: 0;
          left: -30%;
        }
      }
    }
  }
}

.footer {
  padding: 20px 50px;

  .footer__title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
  }

  .footer__text { 
    letter-spacing: 1.5px;
    margin-bottom: 30px;
  }

  .footer__twitter-link {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 208, 255);
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all ease-in-out .8s;

    &:hover {
      background-color: white;
      color: rgb(0, 208, 255);
      box-shadow: 0 0 5px black;
    }
  }

  .footer__img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    box-shadow: 0 0 5px black;
  }
}

@media screen and (max-width: 920px) {
  .header { 
    background-image: url(../image/PNG/Hero-Illustration.png);
    background-size: cover;
  }
}

@media screen and (max-width: 800px) {
  .image { 
    width: 30px;
    height: 30px;
    background-image: url(../image/PNG/Hero-Logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    // left: 70%;
    z-index: 3;
  }
}

@media screen and (max-width: 750px) {
  .three-article{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img {
      width: 250px;
      height: 100%;
    }

    .container-contant {
      margin-top: 30px;
      margin-left: 0px;
    }
  }
}

@media screen and (max-width: 665px) {
  .image { 
    left: 40%;
  }
}

@media screen and (max-width: 460px) {
  .header{

    .header-container { 
      padding-top: 130px;
      padding-left: 15px;
    }
  }
}